<div class="comment-container">
    <div id="message-{{id}}" class="comment">
        {{!-- {{log this}} --}}
        <strong class="comment-author">@{{username}}</strong>
        <span class="comment-date">{{formatDate createdAt}}</span>
        <br>
        <br>
        <div class="comment-text">{{text}}</div>
    </div>
</div>
<br>
<br>
