    {{log this}}
    <section>
        <p>
            Title: 
            <br>
            <strong>'{{currentPost.title}}'</strong> 
        </p>
        <p> 
            Posted by: 
            <br>
            <strong>{{currentPost.username}}</strong>  
        </p>
        <p>
            Posted at: 
            <br>
            <strong>{{currentPost.createdAt}}</strong>
        </p>
    </section>

<img class="image" src= {{currentPost.image}} alt="Uh oh something went wrong">
