    {{log this}}
    <h2>
        <strong>'{{currentPost.title}}'</strong> 
    </h2>
        <section>
        <p> 
            Posted by: 
            <br>
            <strong>{{currentPost.username}}</strong></br>
        </p>
        <p>
            Posted at: 
            <br>
            <strong>{{formatDate currentPost.createdAt}}</strong></br>
        </p>
    </section>
<img class="image" src= /{{currentPost.image}} alt="Uh oh something went wrong">
